html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 95%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

span {
    font-size: 55px;
}

.plychoice,
.comchoice {
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
    width: 75px;
    height: 75px;
}

#main {
    border: 3px solid white;
    border-radius: 25px;
}

#container,
#round,
#score,
#result {
    padding: 20px;
    /* flex: 1; */
}

#container button {
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px solid #fdc21f;
    border-radius: 25px;
    color: black;
    font-size: 85px;
    width: 150px;
}

#container {
    min-width: 600px;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
}

#round {
    display: flex;
    justify-content: center;
    column-gap: 35px;
    min-width: 600px;
    min-height: 50px;
}

#score {
    min-width: 600px;
    min-height: 50px;
}

#result {
    min-width: 600px;
    min-height: 50px;
}